@import '../../shared/colors.scss';

div {
    height: 55px;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    box-shadow: 0 2px 3px 0px grey;
    
    span {
        padding-left: 15px;
        font-size: 20px;
        font-weight: 700;
        color: $white;
    }
}