.main-screen {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

app-commands {
    height: 40px;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
}